
<div class="container footer">
    
    <hr class="hrfooterline">
                    <p class="africanerds">	&copy; 2019 African Nerds.</p>
               <img src="/images/facebook.jpg" height="32" width="32">
               <img src="/images/instagram.jpg" height="32" width="32">
               <img src="/images/twitter.jpg" height="32" width="32">
     
    </div> 
    
<script src="http://code.jquery.com/jquery-3.4.1.js"integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/app.js"></script>
<script src="/js/accordion.min.js"></script>

<script>
    new Accordion('.accordion-container'); 
  </script>


<script type="text/javascript">
      const postImageButton = document.getElementById(postimage);
      const uploadButton = document.getElementById(upload);
      const customText = document.getElementById(customtext);

      uploadButton.addEventListener("click", function(){
        postImageButton.click();
      });

      $(document).ready(function() {
  $('.mdb-select').materialSelect();
  });
</script>

</body>
</html>