<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <div class="">
            <h2 class="aboutqs">    Contact</h2>
            <h2 class="aboutqs">We would love to hear from you</h2>
           
            <p class="aboutqs">E-mail: hi@qsforumng.com </p>
            <p class="aboutqs">Twitter: @qsforumng.com </p>
            
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h3 class="aboutqs">Developed By Maverick Technologies </h3>
        </div>
           
    </div>
</div>

<% include partials/footer %>