<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <div class="">
           
            <div id="faq">
                <div class="container faq">
                <div class="">
                <h2 class="faqheading"><i class="fa fa-question-circle fa-lg" aria-hidden="true"></i> Frequently Asked Questions</h2>
                <div class="accordion-container">
                <div class="ac">
                <h2 class="ac-q" tabindex="0">Are our services Free?</h2>
                <div class="ac-a">
                <p>Yes, Our services are free but there is a paid plan called premium.</p>
                </div>
                </div>
                                      
                <div class="ac">
                <h2 class="ac-q" tabindex="0">Whats the premium plan?</h2>
                <div class="ac-a">
                <p>With the paid or premium plan, You can be 100% sure you will get an IT placement or NYSC PPA from the premium listings we have <a href="/premiumjobs">here.</a></p>
                </div>
                </div>
                                      
                <div class="ac">
                <h2 class="ac-q" tabindex="0">Do i get a refund if i pay and  dont get an IT Placement or Nysc ppa?</h2>
                <div class="ac-a">
                <p>Yes. You will.</p>
                </div>
                </div>
                </div> 
                </div>
                </div>
        </div>
        </div>
           
    </div>
</div>

<% include partials/footer %>