<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <div class="">
            <h2 class="aboutqs">Frequently Asked Questions</h2>
            <h2 class="aboutqs">Some of these are not actually asked frequently, but they're still good to know.</h2>
            <br>

            <h2 class="aboutqs">Who can post to QS Forum?</h2>
            <p>Anyone! Yes, you have permission to make a new post of any kind as long as it meets our community guidelines and gets through common-sense spam filters.
                 Your post is subject to removal at the discretion of the moderators if they believe it does not meet the requirements of our code of conduct.</p>
                 
            <h2 class="aboutqs">How do I post article on QS Forum?</h2>
            <p>Click on "Write a Post" in the top right corner of the site. Write your article, give it a title, tag it with appropriate tags, and fill out any other relevant fields. 
                Then, once you're ready, click publish</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h3 class="aboutqs">Developed By Maverick Technologies </h3>
        </div>
           
    </div>
</div>

<% include partials/footer %>