<% include partials/header %>

<div class="container">
    <div class="jumbotron jumbotronkeylinks">
        <div class="moreinfo">
            <h2>More Information About Us</h2>            
        </div>
        <div class="moreinfolinks">
             <ul>
                    
                    <!-- <% settings.forEach(function(setting){ %>
                        
                    <li><a href="/settings/<%=setting._id%>">View Profile</a></li>
                
                    <% }); %>   -->
                    <br>
                    <li> <a href="/about">Get Started</a></li>
                    <br>
                    <li>  <a href="/faq"> FAQ</a></li>
                    <br>
                    <li> <a href="/contact">Contact</a></li>
                   
             </ul>    
             
            
                
        </div>  
                <ul class="socialmedia">  
                <img class="instagramsvg" src="images/instagram.jpg">
                <img class="twittersvg"   src="images/twitter.jpg">
                <img class="fbsvg"       src="images/facebook.jpg">
                </ul>
             </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<% include partials/footer %>