<% include partials/header %>

<div class="container">
    <div class="jumbotron jumbotronkeylinks">
        <div class="moreinfo">
            <h2>More Information About Us</h2>            
        </div>
        <div class="moreinfolinks">
             <ul>
                    <li> <a href="/">Home</a></li>
                    <br>
                    <li> <a href="/#about">About</a></li>
                    <br>
                    <li>  <a href="/#faq"> FAQ</a></li>
                    <br>
                    <li> <a href="/#contact">Contact</a></li>
                   
             </ul>    
        </div>  
                <ul class="socialmedia">  
                <img class="instagramsvg" src="images/ig.svg">
                <img class="twittersvg"   src="images/twitter.svg">
                <img class="fbsvg"       src="images/fb.svg">
                </ul>
             </div>
    </div>
</div>

<% include partials/footer %>