<% include ../partials/header %>


<div class="container">
        <div class="row membershiprow">
                <div class=" registerbox col-md-5 col-sm-12 col-xs-12">
                        <div class="registerboxheading">CREATE A LISTING</div>
                        <p class="membershipbuttons">
                        <p class="internpayment"><a href="/internjobs/new"><button class="ui green button">PLACEMENT FOR SIWES</button></a></p>
                        <p class="corpmember"><a href="/corperjobs/new"><button class="ui green button ">PPA FOR CORP MEMBERS</button></a></p>
                        </p>
                </div>

        <div class="col-md-7 registerpageimage">
                <img alt="Image" height="420" width="600" src="/images/registerpageimage.jpg">
        </div>

     </div>         
</div>

<% include ../partials/footer %>