<% include ../partials/header %>


<div class="container">
        <div class="row membershiprow">
                <div class=" registerbox col-md-5 col-sm-12 col-xs-12">
                        <div class="registerboxheading">CREATE A LISTING</div>
                        <p class="membershipbuttons">
                       <a href="/internjobs/new"> <button type="button" class="btn btn-info corpmemberbutton">PLACEMENT FOR SIWES</button></a>
                       <a href="/corperjobs/new"> <button type="button" class="btn btn-info employerbutton">PPA FOR CORP MEMBERS</button></a>
                        </p>
                </div>

        <div class="col-md-7 registerpageimage">
                <img alt="Image" height="420" width="600" src="/images/registerpageimage.jpg">
        </div>

     </div>         
</div>

<% include ../partials/footer %>